<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<%= render partial: "shared/flash" %>

<div class="jumbotron text-center">
  <h1>Welcome to Monocle</h1>

  <p class="text-muted">Sign in using your TuringSchool Census account.<br />
    Questions: contact@turing.io</p>
  <%= link_to "Sign in with Census", sign_in_with_census_path, class: 'btn btn-default' %>
</div>
