<h1 class="text-center">All Notes</h1>

<%= link_to "New Note", new_note_path %>
<div id="notes-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Company</th>
        <th>Written On</th>
        <th>Title</th>
        <th>Body</th>
        <th>Privacy Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="notes"></tbody>
  </table>
</div>
