<h3>Private Notes</h3>

<div class='panel panel-default'>
  <div class='panel-body'>
    <input type="text" name="note[title]" id="create-note-title" placeholder="Title"></br></br>
    <textarea name="note[body]" id="create-note-body" placeholder="Body ..."></textarea></br>
    <textarea name="note[company]" id="create-note-company" placeholder="Company ..."></textarea></br>
    <button type="button" name="create-note" id="create-note-button">Create Note</button>
  </div>
</div>
