<h3>New Note</h3>

<div class='panel panel-default'>
  <div class='panel-body'>
    <form>
      <input type="radio" name="note-status" id="private-note" value="private"> Private Note
      <input type="radio" name="note-status" id="public-note" value="public"> Public Note</br></br>
      <input type="text" name="note[title]" id="notetitle" placeholder="Title"></br></br>
      <%= select_tag "create-note-company", options_from_collection_for_select(@companies, "id", "name"), {multiple: true} %></br>
      <textarea name="note[body]" id="notebody" placeholder="Body ..."></textarea></br>
      <script>
        CKEDITOR.replace( 'note[body]' );
      </script>
      <button type="button" name="create-note" id="create-note-button">Create Note</button>
    </form>
  </div>
</div>
