<% companies.each do |company| %>
  <div class='card-holder col-md-4'>
    <div class='card'>
      <div class='logo'>
        <%= image_tag company.logo.url %>
      </div>
      <div>
        <h4 class="company_name">
          <%= link_to company.name, company_path(company) %><br />
        </h4>
        <p>
          <% company.location_info.each do |line| %>
            <%= line %><br>
          <% end %>
          <%= link_to company.website, "http://#{company.website}" %>
        </p>
      </div>
    </div>
  </div>
<% end %>
