<div class="favorites-button">
  <% if current_user.companies.exists?(@company.id) %>
  <div class='starred-message'>
    <h4><i class="text-info">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> This company has been saved in your starred list.
      </i></h4>
    </div>
    <%= button_tag class: "btn btn-default btn-lg unstar star-toggle", data: {no_turbolink: true, name: @company.name} do %>
    <%= content_tag("span", "", class: ["glyphicon", "glyphicon-star"], aria_hidden: true) %> Unfavorite
    <% end %>
  <% else %>
    <div class='starred-message'></div>
    <div class="company-buttons text-center">
    <%= button_tag class: "btn btn-default btn-lg star star-toggle", data: {no_turbolink: true, name: @company.name} do %>
    <%= content_tag("span", "", class: ["glyphicon", "glyphicon-star"], aria_hidden: true) %> Favorite
    <% end %>
    </div>
  <% end %>
</div>
