<div class="col-md-3 locations-table">
  <span id="title-approved-locations"></span>

  <table id="approved-location-table" class="table">
    <tr>
      <th>Address</th>
      <th>City,&nbspState,&nbspZip</th>
      <th>Phone</th>
      <th>Primary&nbspContact</th>
      <th></th>
    </tr>
    <tbody id="approved-location-table-body">
    </tbody>
  </table>

  <span id="title-pending-locations"></span>

  <table id="pending-location-table" class="table">
    <tr>
      <th>Address</th>
      <th>City,&nbspState,&nbspZip</th>
      <th>Phone</th>
      <th>Primary&nbspContact</th>
      <th></th>
    </tr>
    <tbody id="pending-location-table-body">
    </tbody>
  </table>

  <%= link_to 'Add Location', new_company_location_path(@company), class: "btn btn-default", id: "add-location-button" %>

  <div id="company-id" data-company-id='<%= @company.id %>'></div>
  <div id="lat-lng" data-coordinates="<%= @company.coordinates %>"></div>
  <div id="current-user-role" data-role="<%= current_user.role %>"></div>
</div>


<script type="text/javascript">
    var coordinates = $('#lat-lng').data('coordinates');
    var userRole = $('#current-user-role').data('role');

    displayCompanyLocations();

    $("#pending-location-table-body").on('click', '#admin-approves-location', function() {
      var locationId = this.getAttribute('data-id');
      adminApproveLocation(locationId);
    });

    $("#approved-location-table-body").on('click', '#admin-edit-location', function() {
      var locationId = this.getAttribute('data-id');
      var companyId = $('#company-id').data('companyId');
      window.location.pathname = (`/companies/${companyId}/locations/${locationId}/edit`);
    });

  function displayCompanyLocations() {
    var companyId = $('#company-id').data('companyId');

    $.ajax({
      url: "/api/v1/companies/" + companyId + "/locations",
      method: "GET",
      data: {'company_id': companyId},
      type: "json",
      success: function (locations) {
        appendLocations(locations);
      }
    })
  }

  function adminApproveLocation(locationId) {
    var companyId = $('#company-id').data('companyId');
    $.ajax({
      url: `/api/v1/companies/${companyId}/locations/${locationId}`,
      method: "PUT",
      data: {'location_id': locationId, 'company_id': companyId},
      type: "json",
      success: function () {
        displayCompanyLocations();
        initCompanyMap();
      }
    })
  }

  function appendLocations(locations) {
    $('#pending-location-table-body').slice(0).empty()
    $('#approved-location-table-body').slice(0).empty()

    var pendingLocations = [];
    var approvedLocations = [];

    locations.forEach(function(location){
      if (location.status === "pending") {
        pendingLocations.push(location);
      } else if (location.status === "approved") {
        approvedLocations.push(location);
      }
    })

    pendingLocations.forEach(function(location){
      appendPendingLocation(location);
    })

    approvedLocations.forEach(function(location){
      appendApprovedLocation(location);
    })

    if (pendingLocations.length === 0) {
      $('#pending-location-table').css('display', 'none')
      $('#title-pending-locations').css('display', 'none')
    } else if (pendingLocations.length === 1) {
      $('#title-pending-locations').slice(0).empty()
      $('#title-pending-locations').append('<h4>Pending Location</h4>')
    } else {
      $('#title-pending-locations').slice(0).empty()
      $('#title-pending-locations').append('<h4>Pending Locations</h4>')
    }

    if (approvedLocations.length === 0) {
      $('#approved-location-table').css('display', 'none')
      $('#title-approved-locations').css('display', 'none')
    } else if (approvedLocations.length === 1) {
      $('#title-approved-locations').slice(0).empty()
      $('#title-approved-locations').append('<h4>Approved Location</h4>')
    } else {
      $('#title-approved-locations').slice(0).empty()
      $('#title-approved-locations').append('<h4>Approved Locations</h4>')
    }
  }

  function appendPendingLocation(location) {
    var row, address = location.street_address;

    if (location.street_address_2 !== ""){
      address += `, ${location.street_address_2}`
    }

    if (userRole === "admin") {
      row = `<tr>
               <td>${address}</td>
               <td>${location.city_state_zip}</td>
               <td>${location.phone}</td>
               <td>${location.primary_contact}</td>
               <td><button id='admin-approves-location' data-id=${location.id}>Approve</button></td>
           </tr>`
    } else {
      row = `<tr>
               <td>${address}</td>
               <td>${location.city_state_zip}</td>
               <td>${location.phone}</td>
               <td>${location.primary_contact}</td>
           </tr>`
    }

    $('#pending-location-table-body').append(row)
  }

  function appendApprovedLocation(location) {
    var address = location.street_address;

    if (location.street_address_2 !== ""){
      address += `, ${location.street_address_2}`
    }

    var row = `<tr>
                <td>${address}</td>
                <td>${location.city_state_zip}</td>
                <td>${location.phone}</td>
                <td>${location.primary_contact}</td>
                <td><button id='admin-edit-location' data-id=${location.id}>Edit</button></td>
              </tr>`

    $('#approved-location-table-body').append(row)
  }
</script>
