
<div class="locations-container">
  <h4>Approved Location(s):</h4>
  <table id="approved-location-table" class="table">
    <tr>
      <th>Address</th>
      <th>City,&nbspState,&nbspZip</th>
      <th>Phone</th>
      <th>Primary&nbspContact</th>
      <th>Edit</th>
    </tr>
    <tbody id="approved-location-table-body">
    </tbody>
  </table>

  <h4>Pending Location(s):</h4>

  <table id="pending-location-table" class="table">
    <tr>
      <th>Address</th>
      <th>City,&nbspState,&nbspZip</th>
      <th>Phone</th>
      <th>Primary&nbspContact</th>
      <th>Approve</th>
    </tr>
    <tbody id="pending-location-table-body">
    </tbody>
  </table>
  <!-- <button type="button" id="admin-approves-location" data-location='<%#= location.id %>'>Approve</button> -->

</div>
