<div id="wrapper">
  <%= render partial: "shared/sidebar" %>
  <div id="page-content-wrapper">
      <div class="container-fluid">
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Filters</a>
          <div class="row">
              <div class="col-lg-12">
                <div id="map"></div>
                  <%= render partial: "shared/map.js.erb" %>
                  <%= render partial: "shared/companies_index", locals: {companies: @companies} %>
              </div>
          </div>
      </div>
  </div>
</div>

<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
  $("#menu-toggle").click(function(e) {
     e.preventDefault();
     $("#wrapper").toggleClass("toggled");
  });
</script>
