  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">All Cities</h3>
    </div>
    <div class="panel-body">
      <p>Select a city below to view all companies located within.</p>
    </div>
    <ul class="list-group">
      <% @cities.each do |city| %>
      <li class="list-group-item">
        <span class="badge"><%= city.companies.count %></span>
        <%= link_to city.name, city_path(city) %>
      </li>
      <% end %>
    </ul>
  </div>
