 .logo {
  display: inline-block;
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid #000000;
  padding: auto;
  background: #FFFFFF;
  position: relative;
 }

body {
  padding-top: 70px;
}

 .logo img {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   vertical-align: middle;
   max-width: 95px;
   max-height: 95px;
 }

 .card {
  border-radius: 2px;
  border: 1px solid #000000;
  padding: 5px;
  height: 270px;
  background: #ededed;
}

.card-holder {
  width: 100%;
  padding: 15px;
}

.company-name, h4 a {
  color: #cc0033;
}

.company-name {
  text-align: center;
}

.big-logo {
  display: inline-block;
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid #000000;
  padding: auto;
  background: #FFFFFF;
  position: relative;
}

.big-logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;
  max-width: 190px;
  max-height: 190px;
}

.btn-remove {
  width: 100%;
  border-radius: 0 0 2px 2px!important;
  border-bottom: 1px solid #000000!important;
  border-right: 1px solid #000000!important;
  border-left: 1px solid #000000!important;
}

#map {
  height: 400px;
  margin: 10px auto;
  border-radius: 2px;
}

#company-map {
  display: inline-block;
  border: 1.5px solid;
  top: 20px;
  height: 330px;
  width: 730px;
  float: right;
}

.locations {
  width: 300px;
  display: inline-block;
}

table #locations {
  width: 300px;
}

.edit-box {
  background-color: #d2d2d2 !important;
}


.element-being-edited {
  font-style: italic;
  border-bottom-style: solid;
  border-bottom-color: light-blue;
  border-bottom-width: thin;
}

#zip_input, #distance_select {
  margin-right: 10px;
}
