.background-image {
  height: 1000px;
  background-image: image-url('telescope.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  top: 0;
  text-align: left;
  margin-top: -20px;
}
